################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/BackEnd/.vs
/BackEnd/FortunatoAgricola.API/obj/FortunatoAgricola.API.csproj.nuget.dgspec.json
/BackEnd/FortunatoAgricola.API/obj/FortunatoAgricola.API.csproj.nuget.g.props
/BackEnd/FortunatoAgricola.API/obj/Debug/net10.0/FortunatoAgricola.API.AssemblyInfo.cs
/BackEnd/FortunatoAgricola.API/obj/Debug/net10.0/FortunatoAgricola.API.AssemblyInfoInputs.cache
/BackEnd/FortunatoAgricola.API/obj/Debug/net10.0/FortunatoAgricola.API.assets.cache
*.txt
/BackEnd/FortunatoAgricola.API/obj/FortunatoAgricola.API.csproj.nuget.g.targets
/BackEnd/FortunatoAgricola.API/obj/project.assets.json
/BackEnd/FortunatoAgricola.API/obj/project.nuget.cache
/BackEnd/FortunatoAgricola.Application/obj/Debug/net10.0/FortunatoAgricola.Application.AssemblyInfo.cs
/BackEnd/FortunatoAgricola.Application/obj/Debug/net10.0/FortunatoAgricola.Application.AssemblyInfoInputs.cache
/BackEnd/FortunatoAgricola.Application/obj/FortunatoAgricola.Application.csproj.nuget.dgspec.json
/BackEnd/FortunatoAgricola.Domain/obj/Debug/net10.0/FortunatoAgricola.Domain.AssemblyInfo.cs
/BackEnd/FortunatoAgricola.Domain/obj/Debug/net10.0/FortunatoAgricola.Domain.AssemblyInfoInputs.cache
/BackEnd/FortunatoAgricola.Infrastructure/obj/Debug/net10.0/FortunatoAgricola.Infrastructure.AssemblyInfo.cs
/BackEnd/FortunatoAgricola.Infrastructure/obj/Debug/net10.0/FortunatoAgricola.Infrastructure.AssemblyInfoInputs.cache
/BackEnd/FortunatoAgricola.Infrastructure/obj/Debug/net10.0/FortunatoAgricola.Infrastructure.assets.cache
/BackEnd/FortunatoAgricola.Infrastructure/obj/Debug/net10.0/FortunatoAgricola.Infrastructure.csproj.AssemblyReference.cache
/BackEnd/FortunatoAgricola.Domain/obj/FortunatoAgricola.Domain.csproj.nuget.dgspec.json
/BackEnd/FortunatoAgricola.Domain/obj/FortunatoAgricola.Domain.csproj.nuget.g.props
/BackEnd/FortunatoAgricola.Domain/obj/project.assets.json
/BackEnd/FortunatoAgricola.Domain/obj/project.nuget.cache
/BackEnd/FortunatoAgricola.Infrastructure/obj/FortunatoAgricola.Infrastructure.csproj.nuget.dgspec.json
/BackEnd/FortunatoAgricola.Infrastructure/obj/FortunatoAgricola.Infrastructure.csproj.nuget.g.props
/BackEnd/FortunatoAgricola.Application/obj/project.nuget.cache
/BackEnd/FortunatoAgricola.Infrastructure/obj/project.assets.json
/BackEnd/FortunatoAgricola.Application/obj/FortunatoAgricola.Application.csproj.nuget.dgspec.json
/BackEnd/FortunatoAgricola.Application/obj/FortunatoAgricola.Application.csproj.nuget.g.props
/BackEnd/FortunatoAgricola.Application/obj/project.assets.json
*.user
/BackEnd/FortunatoAgricola.Infrastructure/obj/FortunatoAgricola.Infrastructure.csproj.nuget.g.targets
/BackEnd/FortunatoAgricola.Infrastructure/obj/project.nuget.cache
