################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################
# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db

/BackEnd/.vs
/BackEnd/FortunatoAgricola.API/obj/FortunatoAgricola.API.csproj.nuget.dgspec.json
/BackEnd/FortunatoAgricola.API/obj/FortunatoAgricola.API.csproj.nuget.g.props
/BackEnd/FortunatoAgricola.API/obj/Debug/net10.0/FortunatoAgricola.API.AssemblyInfo.cs
/BackEnd/FortunatoAgricola.API/obj/Debug/net10.0/FortunatoAgricola.API.AssemblyInfoInputs.cache
/BackEnd/FortunatoAgricola.API/obj/Debug/net10.0/FortunatoAgricola.API.assets.cache
*.txt
/BackEnd/FortunatoAgricola.API/obj/FortunatoAgricola.API.csproj.nuget.g.targets
/BackEnd/FortunatoAgricola.API/obj/project.assets.json
/BackEnd/FortunatoAgricola.API/obj/project.nuget.cache
/BackEnd/FortunatoAgricola.Application/obj/Debug/net10.0/FortunatoAgricola.Application.AssemblyInfo.cs
/BackEnd/FortunatoAgricola.Application/obj/Debug/net10.0/FortunatoAgricola.Application.AssemblyInfoInputs.cache
/BackEnd/FortunatoAgricola.Application/obj/FortunatoAgricola.Application.csproj.nuget.dgspec.json
/BackEnd/FortunatoAgricola.Domain/obj/Debug/net10.0/FortunatoAgricola.Domain.AssemblyInfo.cs
/BackEnd/FortunatoAgricola.Domain/obj/Debug/net10.0/FortunatoAgricola.Domain.AssemblyInfoInputs.cache
/BackEnd/FortunatoAgricola.Infrastructure/obj/Debug/net10.0/FortunatoAgricola.Infrastructure.AssemblyInfo.cs
/BackEnd/FortunatoAgricola.Infrastructure/obj/Debug/net10.0/FortunatoAgricola.Infrastructure.AssemblyInfoInputs.cache
/BackEnd/FortunatoAgricola.Infrastructure/obj/Debug/net10.0/FortunatoAgricola.Infrastructure.assets.cache
/BackEnd/FortunatoAgricola.Infrastructure/obj/Debug/net10.0/FortunatoAgricola.Infrastructure.csproj.AssemblyReference.cache
/BackEnd/FortunatoAgricola.Domain/obj/FortunatoAgricola.Domain.csproj.nuget.dgspec.json
/BackEnd/FortunatoAgricola.Domain/obj/FortunatoAgricola.Domain.csproj.nuget.g.props
/BackEnd/FortunatoAgricola.Domain/obj/project.assets.json
/BackEnd/FortunatoAgricola.Domain/obj/project.nuget.cache
/BackEnd/FortunatoAgricola.Infrastructure/obj/FortunatoAgricola.Infrastructure.csproj.nuget.dgspec.json
/BackEnd/FortunatoAgricola.Infrastructure/obj/FortunatoAgricola.Infrastructure.csproj.nuget.g.props
/BackEnd/FortunatoAgricola.Application/obj/project.nuget.cache
/BackEnd/FortunatoAgricola.Infrastructure/obj/project.assets.json
/BackEnd/FortunatoAgricola.Application/obj/FortunatoAgricola.Application.csproj.nuget.dgspec.json
/BackEnd/FortunatoAgricola.Application/obj/FortunatoAgricola.Application.csproj.nuget.g.props
/BackEnd/FortunatoAgricola.Application/obj/project.assets.json
*.user
/BackEnd/FortunatoAgricola.Infrastructure/obj/FortunatoAgricola.Infrastructure.csproj.nuget.g.targets
/BackEnd/FortunatoAgricola.Infrastructure/obj/project.nuget.cache
/BackEnd/FortunatoAgricola.API/bin/Debug/net9.0/FortunatoAgricola.API.dll
/BackEnd/FortunatoAgricola.API/bin/Debug/net9.0/FortunatoAgricola.API.exe
/BackEnd/FortunatoAgricola.API/bin/Debug/net9.0/FortunatoAgricola.API.pdb
/BackEnd/FortunatoAgricola.API/bin/Debug/net9.0/FortunatoAgricola.Application.dll
/BackEnd/FortunatoAgricola.API/bin/Debug/net9.0/FortunatoAgricola.Application.pdb
/BackEnd/FortunatoAgricola.API/bin/Debug/net9.0/FortunatoAgricola.Domain.dll
/BackEnd/FortunatoAgricola.API/bin/Debug/net9.0/FortunatoAgricola.Domain.pdb
/BackEnd/FortunatoAgricola.API/bin/Debug/net9.0/FortunatoAgricola.Infrastructure.pdb
/BackEnd/FortunatoAgricola.API/bin/Debug/net9.0/FortunatoAgricola.Infrastructure.dll
/BackEnd/FortunatoAgricola.API/obj/Debug/net9.0/ref/FortunatoAgricola.API.dll
/BackEnd/FortunatoAgricola.API/obj/Debug/net9.0/refint/FortunatoAgricola.API.dll
/BackEnd/FortunatoAgricola.API/obj/Debug/net9.0/apphost.exe
/BackEnd/FortunatoAgricola.API/obj/Debug/net9.0/FortunatoAgricola.API.AssemblyInfo.cs
/BackEnd/FortunatoAgricola.API/obj/Debug/net9.0/FortunatoAgricola.API.AssemblyInfoInputs.cache
/BackEnd/FortunatoAgricola.API/obj/Debug/net9.0/FortunatoAgricola.API.csproj.AssemblyReference.cache
/BackEnd/FortunatoAgricola.API/obj/Debug/net9.0/FortunatoAgricola.API.dll
/BackEnd/FortunatoAgricola.API/obj/Debug/net9.0/FortunatoAgricola.API.pdb
/BackEnd/FortunatoAgricola.API/obj/Debug/net9.0/FortunatoAgricola.API.sourcelink.json
/BackEnd/FortunatoAgricola.API/obj/Debug/net9.0/rjsmcshtml.dswa.cache.json
/BackEnd/FortunatoAgricola.API/obj/Debug/net9.0/rjsmrazor.dswa.cache.json
/BackEnd/FortunatoAgricola.Application/bin/Debug/net9.0/FortunatoAgricola.Application.dll
/BackEnd/FortunatoAgricola.Application/bin/Debug/net9.0/FortunatoAgricola.Application.pdb
/BackEnd/FortunatoAgricola.Application/bin/Debug/net9.0/FortunatoAgricola.Domain.dll
/BackEnd/FortunatoAgricola.Application/bin/Debug/net9.0/FortunatoAgricola.Domain.pdb
/BackEnd/FortunatoAgricola.Application/obj/Debug/net9.0/ref/FortunatoAgricola.Application.dll
/BackEnd/FortunatoAgricola.Application/obj/Debug/net9.0/refint/FortunatoAgricola.Application.dll
/BackEnd/FortunatoAgricola.Application/obj/Debug/net9.0/FortunatoAgricola.Application.AssemblyInfo.cs
/BackEnd/FortunatoAgricola.Application/obj/Debug/net9.0/FortunatoAgricola.Application.AssemblyInfoInputs.cache
/BackEnd/FortunatoAgricola.Application/obj/Debug/net9.0/FortunatoAgricola.Application.csproj.AssemblyReference.cache
/BackEnd/FortunatoAgricola.Application/obj/Debug/net9.0/FortunatoAgricola.Application.dll
/BackEnd/FortunatoAgricola.Application/obj/Debug/net9.0/FortunatoAgricola.Application.pdb
/BackEnd/FortunatoAgricola.Application/obj/Debug/net9.0/FortunatoAgricola.Application.sourcelink.json
/BackEnd/FortunatoAgricola.Domain/bin/Debug/net9.0/FortunatoAgricola.Domain.dll
/BackEnd/FortunatoAgricola.Domain/bin/Debug/net9.0/FortunatoAgricola.Domain.pdb
/BackEnd/FortunatoAgricola.Domain/obj/Debug/net9.0/ref/FortunatoAgricola.Domain.dll
/BackEnd/FortunatoAgricola.Domain/obj/Debug/net9.0/refint/FortunatoAgricola.Domain.dll
/BackEnd/FortunatoAgricola.Domain/obj/Debug/net9.0/FortunatoAgricola.Domain.AssemblyInfo.cs
/BackEnd/FortunatoAgricola.Domain/obj/Debug/net9.0/FortunatoAgricola.Domain.AssemblyInfoInputs.cache
/BackEnd/FortunatoAgricola.Domain/obj/Debug/net9.0/FortunatoAgricola.Domain.dll
/BackEnd/FortunatoAgricola.Domain/obj/Debug/net9.0/FortunatoAgricola.Domain.pdb
/BackEnd/FortunatoAgricola.Domain/obj/Debug/net9.0/FortunatoAgricola.Domain.sourcelink.json
/BackEnd/FortunatoAgricola.Infrastructure/bin/Debug/net9.0/FortunatoAgricola.Application.dll
/BackEnd/FortunatoAgricola.Infrastructure/bin/Debug/net9.0/FortunatoAgricola.Application.pdb
/BackEnd/FortunatoAgricola.Infrastructure/bin/Debug/net9.0/FortunatoAgricola.Domain.dll
/BackEnd/FortunatoAgricola.Infrastructure/bin/Debug/net9.0/FortunatoAgricola.Domain.pdb
/BackEnd/FortunatoAgricola.Infrastructure/bin/Debug/net9.0/FortunatoAgricola.Infrastructure.dll
/BackEnd/FortunatoAgricola.Infrastructure/bin/Debug/net9.0/FortunatoAgricola.Infrastructure.pdb
/BackEnd/FortunatoAgricola.Infrastructure/obj/Debug/net9.0/ref/FortunatoAgricola.Infrastructure.dll
/BackEnd/FortunatoAgricola.Infrastructure/obj/Debug/net9.0/refint/FortunatoAgricola.Infrastructure.dll
/BackEnd/FortunatoAgricola.Infrastructure/obj/Debug/net9.0/FortunatoAgricola.Infrastructure.AssemblyInfo.cs
/BackEnd/FortunatoAgricola.Infrastructure/obj/Debug/net9.0/FortunatoAgricola.Infrastructure.AssemblyInfoInputs.cache
/BackEnd/FortunatoAgricola.Infrastructure/obj/Debug/net9.0/FortunatoAgricola.Infrastructure.csproj.AssemblyReference.cache
/BackEnd/FortunatoAgricola.Infrastructure/obj/Debug/net9.0/FortunatoAgricola.Infrastructure.dll
/BackEnd/FortunatoAgricola.Infrastructure/obj/Debug/net9.0/FortunatoAgricola.Infrastructure.pdb
/BackEnd/FortunatoAgricola.Infrastructure/obj/Debug/net9.0/FortunatoAgricola.Infrastructure.sourcelink.json
/BackEnd/FortunatoAgricola.Infrastructure/obj/Debug/net9.0/FortunatoAgricola.Infrastructure.csproj.CoreCompileInputs.cache
/BackEnd/FortunatoAgricola.Application/obj/Debug/net9.0/FortunatoAgricola.Application.csproj.CoreCompileInputs.cache
/BackEnd/FortunatoAgricola.Domain/obj/Debug/net9.0/FortunatoAgricola.Domain.csproj.CoreCompileInputs.cache
/FrontEnd/build_error.log
*.log
/BackEnd/FortunatoAgricola.API/obj/Debug/net9.0/EndpointInfo/FortunatoAgricola.API.json
/BackEnd/FortunatoAgricola.API/bin/Release/net9.0/FortunatoAgricola.API.dll
/BackEnd/FortunatoAgricola.API/bin/Release/net9.0/FortunatoAgricola.API.exe
/BackEnd/FortunatoAgricola.API/bin/Release/net9.0/FortunatoAgricola.API.pdb
/BackEnd/FortunatoAgricola.API/bin/Release/net9.0/FortunatoAgricola.Application.dll
/BackEnd/FortunatoAgricola.API/bin/Release/net9.0/FortunatoAgricola.Application.pdb
/BackEnd/FortunatoAgricola.API/bin/Release/net9.0/FortunatoAgricola.Domain.dll
/BackEnd/FortunatoAgricola.API/bin/Release/net9.0/FortunatoAgricola.Domain.pdb
/BackEnd/FortunatoAgricola.API/bin/Release/net9.0/FortunatoAgricola.Infrastructure.dll
/BackEnd/FortunatoAgricola.API/bin/Release/net9.0/FortunatoAgricola.Infrastructure.pdb
/BackEnd/FortunatoAgricola.API/bin/Release/net9.0/win-x86/FortunatoAgricola.API.dll
/BackEnd/FortunatoAgricola.API/bin/Release/net9.0/win-x86/FortunatoAgricola.API.exe
/BackEnd/FortunatoAgricola.API/bin/Release/net9.0/win-x86/FortunatoAgricola.API.pdb
/BackEnd/FortunatoAgricola.API/bin/Release/net9.0/win-x86/publish/appsettings.Development.json
/BackEnd/FortunatoAgricola.API/bin/Release/net9.0/win-x86/publish/appsettings.json
/BackEnd/FortunatoAgricola.API/bin/Release/net9.0/win-x86/publish/dotnet-tools.json
/BackEnd/FortunatoAgricola.API/bin/Release/net9.0/win-x86/publish/FortunatoAgricola.API.deps.json
/BackEnd/FortunatoAgricola.API/bin/Release/net9.0/win-x86/publish/FortunatoAgricola.API.runtimeconfig.json
/BackEnd/FortunatoAgricola.API/bin/Release/net9.0/win-x86/publish/FortunatoAgricola.API.staticwebassets.endpoints.json
/BackEnd/FortunatoAgricola.API/bin/Release/net9.0/win-x86/publish/web.config
/BackEnd/FortunatoAgricola.API/bin/Release/net9.0/win-x86/FortunatoAgricola.Application.dll
/BackEnd/FortunatoAgricola.API/bin/Release/net9.0/win-x86/FortunatoAgricola.Application.pdb
/BackEnd/FortunatoAgricola.API/bin/Release/net9.0/win-x86/FortunatoAgricola.Domain.dll
/BackEnd/FortunatoAgricola.API/bin/Release/net9.0/win-x86/FortunatoAgricola.Domain.pdb
/BackEnd/FortunatoAgricola.API/bin/Release/net9.0/win-x86/FortunatoAgricola.Infrastructure.dll
/BackEnd/FortunatoAgricola.API/bin/Release/net9.0/win-x86/FortunatoAgricola.Infrastructure.pdb
/BackEnd/FortunatoAgricola.API/obj/Debug/net9.0/rpswa.dswa.cache.json
/BackEnd/FortunatoAgricola.API/obj/Release/net9.0/ref/FortunatoAgricola.API.dll
/BackEnd/FortunatoAgricola.API/obj/Release/net9.0/refint/FortunatoAgricola.API.dll
/BackEnd/FortunatoAgricola.API/obj/Release/net9.0/win-x86/ref/FortunatoAgricola.API.dll
/BackEnd/FortunatoAgricola.API/obj/Release/net9.0/win-x86/refint/FortunatoAgricola.API.dll
/BackEnd/FortunatoAgricola.API/obj/Release/net9.0/apphost.exe
/BackEnd/FortunatoAgricola.API/obj/Release/net9.0/FortunatoAgricola.API.AssemblyInfo.cs
/BackEnd/FortunatoAgricola.API/obj/Release/net9.0/FortunatoAgricola.API.AssemblyInfoInputs.cache
/BackEnd/FortunatoAgricola.API/obj/Release/net9.0/FortunatoAgricola.API.csproj.AssemblyReference.cache
/BackEnd/FortunatoAgricola.API/obj/Release/net9.0/FortunatoAgricola.API.dll
/BackEnd/FortunatoAgricola.API/obj/Release/net9.0/FortunatoAgricola.API.MvcApplicationPartsAssemblyInfo.cs
/BackEnd/FortunatoAgricola.API/obj/Release/net9.0/FortunatoAgricola.API.pdb
/BackEnd/FortunatoAgricola.API/obj/Release/net9.0/FortunatoAgricola.API.sourcelink.json
/BackEnd/FortunatoAgricola.API/obj/Release/net9.0/rjsmcshtml.dswa.cache.json
/BackEnd/FortunatoAgricola.API/obj/Release/net9.0/rjsmrazor.dswa.cache.json
/BackEnd/FortunatoAgricola.API/obj/Release/net9.0/win-x86/apphost.exe
/BackEnd/FortunatoAgricola.API/obj/Release/net9.0/win-x86/FortunatoAgricola.API.AssemblyInfo.cs
/BackEnd/FortunatoAgricola.API/obj/Release/net9.0/win-x86/FortunatoAgricola.API.AssemblyInfoInputs.cache
/BackEnd/FortunatoAgricola.API/obj/Release/net9.0/win-x86/FortunatoAgricola.API.csproj.AssemblyReference.cache
/BackEnd/FortunatoAgricola.API/obj/Release/net9.0/win-x86/FortunatoAgricola.API.dll
/BackEnd/FortunatoAgricola.API/obj/Release/net9.0/win-x86/FortunatoAgricola.API.pdb
/BackEnd/FortunatoAgricola.API/obj/Release/net9.0/win-x86/FortunatoAgricola.API.sourcelink.json
/BackEnd/FortunatoAgricola.API/obj/Release/net9.0/win-x86/rjsmcshtml.dswa.cache.json
/BackEnd/FortunatoAgricola.API/obj/Release/net9.0/win-x86/rjsmrazor.dswa.cache.json
/BackEnd/FortunatoAgricola.API/obj/Release/net9.0/win-x86/rpswa.dswa.cache.json
/BackEnd/FortunatoAgricola.API/publish
/BackEnd/FortunatoAgricola.API/publish-x86/publish
/BackEnd/FortunatoAgricola.API/publish-x86
/BackEnd/FortunatoAgricola.Application/bin/Release/net9.0/FortunatoAgricola.Application.dll
/BackEnd/FortunatoAgricola.Application/bin/Release/net9.0/FortunatoAgricola.Application.pdb
/BackEnd/FortunatoAgricola.Application/bin/Release/net9.0/FortunatoAgricola.Domain.dll
/BackEnd/FortunatoAgricola.Application/bin/Release/net9.0/FortunatoAgricola.Domain.pdb
/BackEnd/FortunatoAgricola.Application/obj/Release/net9.0/ref/FortunatoAgricola.Application.dll
/BackEnd/FortunatoAgricola.Application/obj/Release/net9.0/FortunatoAgricola.Application.AssemblyInfo.cs
/BackEnd/FortunatoAgricola.Application/obj/Release/net9.0/FortunatoAgricola.Application.AssemblyInfoInputs.cache
/BackEnd/FortunatoAgricola.Application/obj/Release/net9.0/FortunatoAgricola.Application.csproj.AssemblyReference.cache
/BackEnd/FortunatoAgricola.Application/obj/Release/net9.0/FortunatoAgricola.Application.csproj.CoreCompileInputs.cache
/BackEnd/FortunatoAgricola.Application/obj/Release/net9.0/FortunatoAgricola.Application.dll
/BackEnd/FortunatoAgricola.Application/obj/Release/net9.0/FortunatoAgricola.Application.pdb
/BackEnd/FortunatoAgricola.Application/obj/Release/net9.0/FortunatoAgricola.Application.sourcelink.json
/BackEnd/FortunatoAgricola.Application/obj/Release/net9.0/refint/FortunatoAgricola.Application.dll
/BackEnd/FortunatoAgricola.Domain/obj/Release/net9.0/FortunatoAgricola.Domain.AssemblyInfo.cs
/BackEnd/FortunatoAgricola.Domain/obj/Release/net9.0/FortunatoAgricola.Domain.AssemblyInfoInputs.cache
/BackEnd/FortunatoAgricola.Domain/obj/Release/net9.0/FortunatoAgricola.Domain.csproj.CoreCompileInputs.cache
/BackEnd/FortunatoAgricola.Domain/obj/Release/net9.0/FortunatoAgricola.Domain.dll
/BackEnd/FortunatoAgricola.Domain/obj/Release/net9.0/FortunatoAgricola.Domain.pdb
/BackEnd/FortunatoAgricola.Domain/obj/Release/net9.0/FortunatoAgricola.Domain.sourcelink.json
/BackEnd/FortunatoAgricola.Domain/obj/Release/net9.0/refint/FortunatoAgricola.Domain.dll
/BackEnd/FortunatoAgricola.Infrastructure/bin/Release/net9.0/FortunatoAgricola.Application.dll
/BackEnd/FortunatoAgricola.Infrastructure/bin/Release/net9.0/FortunatoAgricola.Application.pdb
/BackEnd/FortunatoAgricola.Infrastructure/bin/Release/net9.0/FortunatoAgricola.Domain.dll
/BackEnd/FortunatoAgricola.Infrastructure/bin/Release/net9.0/FortunatoAgricola.Domain.pdb
/BackEnd/FortunatoAgricola.Infrastructure/bin/Release/net9.0/FortunatoAgricola.Infrastructure.dll
/BackEnd/FortunatoAgricola.Infrastructure/bin/Release/net9.0/FortunatoAgricola.Infrastructure.pdb
/BackEnd/FortunatoAgricola.Domain/bin/Release/net9.0/FortunatoAgricola.Domain.dll
/BackEnd/FortunatoAgricola.Domain/bin/Release/net9.0/FortunatoAgricola.Domain.pdb
/BackEnd/FortunatoAgricola.Domain/obj/Release/net9.0/ref/FortunatoAgricola.Domain.dll
/BackEnd/FortunatoAgricola.Infrastructure/obj/Release/net9.0/ref/FortunatoAgricola.Infrastructure.dll
/BackEnd/FortunatoAgricola.Infrastructure/obj/Release/net9.0/FortunatoAgricola.Infrastructure.AssemblyInfo.cs
/BackEnd/FortunatoAgricola.Infrastructure/obj/Release/net9.0/FortunatoAgricola.Infrastructure.AssemblyInfoInputs.cache
/BackEnd/FortunatoAgricola.Infrastructure/obj/Release/net9.0/refint/FortunatoAgricola.Infrastructure.dll
/BackEnd/FortunatoAgricola.Infrastructure/obj/Release/net9.0/FortunatoAgricola.Infrastructure.csproj.AssemblyReference.cache
/BackEnd/FortunatoAgricola.Infrastructure/obj/Release/net9.0/FortunatoAgricola.Infrastructure.csproj.CoreCompileInputs.cache
/BackEnd/FortunatoAgricola.Infrastructure/obj/Release/net9.0/FortunatoAgricola.Infrastructure.dll
/BackEnd/FortunatoAgricola.Infrastructure/obj/Release/net9.0/FortunatoAgricola.Infrastructure.pdb
/BackEnd/FortunatoAgricola.Infrastructure/obj/Release/net9.0/FortunatoAgricola.Infrastructure.sourcelink.json
/BackEnd/FortunatoAgricola.API/bin/Debug/net9.0/publish
/BackEnd/FortunatoAgricola.API/bin/Debug/net9.0/publish-x86/publish
/BackEnd/FortunatoAgricola.API/bin/Debug/net9.0/publish-x86
/BackEnd/FortunatoAgricola.API/bin/Release/net9.0/publish/publish
/BackEnd/FortunatoAgricola.API/bin/Release/net9.0/publish/publish-x86
/BackEnd/FortunatoAgricola.API/bin/Release/net9.0/publish-x86
/BackEnd/FortunatoAgricola.API/bin/Release/net9.0/win-x86/publish-x86
/BackEnd/FortunatoAgricola.API/bin/Release/net9.0/publish/FortunatoAgricola.API.dll
/BackEnd/FortunatoAgricola.API/bin/Release/net9.0/publish/FortunatoAgricola.API.exe
/BackEnd/FortunatoAgricola.API/bin/Release/net9.0/publish/FortunatoAgricola.API.pdb
/BackEnd/FortunatoAgricola.API/bin/Release/net9.0/publish/FortunatoAgricola.Application.dll
/BackEnd/FortunatoAgricola.API/bin/Release/net9.0/publish/FortunatoAgricola.Application.pdb
/BackEnd/FortunatoAgricola.API/bin/Release/net9.0/publish/FortunatoAgricola.Domain.dll
/BackEnd/FortunatoAgricola.API/bin/Release/net9.0/publish/FortunatoAgricola.Domain.pdb
/BackEnd/FortunatoAgricola.API/bin/Release/net9.0/publish/FortunatoAgricola.Infrastructure.dll
/BackEnd/FortunatoAgricola.API/bin/Release/net9.0/publish/FortunatoAgricola.Infrastructure.pdb
/BackEnd/FortunatoAgricola.API/obj/Release/net9.0/PubTmp/Out/publish
/BackEnd/FortunatoAgricola.API/obj/Release/net9.0/PubTmp/Out/publish-x86
/BackEnd/FortunatoAgricola.API/obj/Release/net9.0/PubTmp/Out/FortunatoAgricola.API.dll
/BackEnd/FortunatoAgricola.API/obj/Release/net9.0/PubTmp/Out/FortunatoAgricola.API.exe
/BackEnd/FortunatoAgricola.API/obj/Release/net9.0/PubTmp/Out/FortunatoAgricola.API.pdb
/BackEnd/FortunatoAgricola.API/obj/Release/net9.0/PubTmp/Out/FortunatoAgricola.Application.dll
/BackEnd/FortunatoAgricola.API/obj/Release/net9.0/PubTmp/Out/FortunatoAgricola.Application.pdb
/BackEnd/FortunatoAgricola.API/obj/Release/net9.0/PubTmp/Out/FortunatoAgricola.Domain.dll
/BackEnd/FortunatoAgricola.API/obj/Release/net9.0/PubTmp/Out/FortunatoAgricola.Domain.pdb
/BackEnd/FortunatoAgricola.API/obj/Release/net9.0/PubTmp/Out/FortunatoAgricola.Infrastructure.dll
/BackEnd/FortunatoAgricola.API/obj/Release/net9.0/PubTmp/Out/FortunatoAgricola.Infrastructure.pdb
/BackEnd/FortunatoAgricola.API/obj/Release/net9.0/rpswa.dswa.cache.json
/BackEnd/FortunatoAgricola.API/bin/Release/net9.0/win-x86/publish-x86-test/publish
/BackEnd/FortunatoAgricola.API/bin/Release/net9.0/win-x86/publish-x86-test/publish-x86/publish
/BackEnd/FortunatoAgricola.API/bin/Release/net9.0/win-x86/publish-x86-test/publish-x86
/BackEnd/FortunatoAgricola.API/bin/Release/net9.0/win-x86/publish-x86-test
/BackEnd/FortunatoAgricola.API/publish-x86-test/publish-x86/publish
/BackEnd/FortunatoAgricola.API/publish-x86-test/publish-x86
